* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #1e3147;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;
}
.logo {
  font-size: 22px;
}
nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home {
  font-size: 22px;
  color: white;
  text-decoration: none;
}
.calculator {
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}
.quote {
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}

.home:hover {
  color: yellow;
}
.calculator:hover {
  color: yellow;
}
.quote:hover {
  color: yellow;
}
.active {
  color: yellow;
}

@media (max-width: 600px) {
  .home {
    font-size: 20px;
  }
  .calculator {
    font-size: 20px;
  }
  .quote {
    font-size: 20px;
  }
  .navbar {
    padding: 2% 6%;
  }
}

@media (max-width: 430px) {
  nav {
    display: none;
  }
}
