h3 {
  font-size: 6rem;
}
.navbar {
  background-color: rgb(98, 255, 0);
  padding: 10px 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  font-size: 2.5rem;
  margin-right: 5rem;
  
}
nav :last-child{
  border: 2px solid;
  padding: 1rem;
  background-color: red;
  color: white;
  border-radius: 1rem;
}
