.c-main {
  width: 330px;
  height: 400px;
  padding-top: 2rem;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
}
.row-button button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.row-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px;
}

.main-display {
  margin-left: 2rem;
}

.display {
  background-color: #2c2c2e;
  border-radius: 15px;
  color: #fff;
  font-size: 20px;
  height: 51px;
  margin-bottom: 20px;
  width: 255px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.8rem;
}

.last :nth-child(1) {
  flex: 2;
}
.last :nth-child(1) {
  background-color: #eaeaea;
  border-radius: 35px;
  color: #333;
  font-size: 20px;
  height: 55px;
  width: 56px;
  max-width: 120px;
}
.row-button :last-child {
  background-color: orange;
}

.left-side {
  font-size: 2.5rem;
  padding-top: 2rem;
  color: #fff;
  width: 60%;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem;
  background-color: #3c87dc;
  height: 100vh;
  border: 2px solid;
}

@media (max-width: 960px) {
  .left-side {
    font-size: 2rem;
  }
}

@media (max-width: 940px) {
  .left-side {
    font-size: 2rem;
  }
  .main-display {
    margin-left: 1rem;
  }
}
@media (max-width: 820px) {
  .left-side {
    font-size: 1.7rem;
  }
  .main-display {
    margin-left: 0.3rem;
  }
}
@media (max-width: 770px) {
  .left-side {
    font-size: 1.7rem;
  }
  .c-main {
    width: 290px;
  }
  .display {
    width: 220px;
  }
}
@media (max-width: 690px) {
  .left-side {
    font-size: 1.3rem;
  }
  .c-main {
    width: 270px;
    height: 370px;
  }
  .display {
    width: 200px;
  }
  .row-button button {
    width: 42px;
    height: 45px;
  }
}

@media (max-width: 630px) {
  .container {
    display: block;
  }
  .c-main {
    margin-right: 3rem;
  }
  .left-side {
    font-size: 1.4rem;
    width: 400px;
  }
}
