* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.main {
  background-color: #fff;
  width: 600px;
  height: 40vh;
  border-radius: 20px;
  padding: 5rem 4rem;
}
.home-section {
  background-color: #3c87dc;
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
.heading {
  font-size: 2rem;
  color: teal;
  background: transparent;
  margin-left: 3.4rem;
}
.description {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 30px;
}
ul {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}
li {
  margin-left: 3.7rem;
  font-size: 1rem;
  padding: 0.3rem;
}
p {
  margin-left: 4.3rem;
  margin-top: 20px;
  font-size: 1rem;
}

@media (max-width: 740px) {
  .main {
    padding: 5rem 1rem;
  }
}
@media (max-width: 644px) {
  .main {
    padding: 4rem 0.5rem;
    width: 500px;
    height: 45vh;
  }
  .heading {
    font-size: 1.7rem;
  }
  .description {
    font-size: 0.9rem;
    margin-left: 40px;
  }
}
@media (max-width: 527px) {
  .main {
    padding: 4rem 0.2rem;
    width: 390px;
    height: 30vh;
  }
  .heading {
    font-size: 1.3rem;
  }
  .description {
    font-size: 0.6rem;
  }
  ul {
    font-size: 1rem;
  }
  li {
    padding: 0.2rem;
    font-size: 0.7rem;
  }
}
