.c-main {
  width: 400px;
  height: 410px;
}
.row-button button {
  width: 100px;
  height: 70px;
}
.row-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.display {
  padding: 15px;
  display: flex;
  justify-content: end;
  background-color: gray;
  color: #fff;
  font-size: 1.7rem;
}
.last :nth-child(1) {
  flex: 2;
}
.row-button :last-child {
  background-color: orange;
}
